AddDefaultCharset utf-8
#Options -Indexes

RewriteEngine On
RewriteBase /
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule .* /htdocs/www/index.php [L,QSA]
RewriteRule ^$ /htdocs/www/index.php [L,QSA]
