<phpunit bootstrap="init.php">
	<testsuites>
		<!-- Items tests -->
		<testsuite name="Items">
			<directory suffix="Test.php">./unit/items/</directory>
		</testsuite>
		<!-- Cache tests -->
		<testsuite name="Cache">
			<directory suffix="Test.php">./unit/cache/</directory>
		</testsuite>
	</testsuites>
</phpunit>
